@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin     : 0;
    padding    : 0;
    font-family: 'Roboto', sans-serif;
}

.header {

    width : 1152px;
    height: 50px;
}

.header p {
    margin        : 17px 0 14px 0;
    font-style    : normal;
    font-weight   : 500;
    font-size     : 11px;
    line-height   : 13px;
    align-items   : center;
    letter-spacing: 0.06em;
    color         : #959BA4;
    text-align    : left;
}

.header {
    background: #F5F5F6;
    display   : flex;
}

.bankicon {
    width : 89px;
    height: 23px;
    margin: 15px 64px 12px 100px;

}

p.bank {
    margin-right: 13px;
    color       : black;
    width       : 44px;

}

p.biznes {
    margin-right: 21px;
    width       : 50px;
}

p.inve {
    margin-right: 11px;
    width       : 94px;
}

p.stra {
    margin-right: 16px;
    width       : 94px;
}

p.moba {
    margin-right: 7px;
    width       : 68px;
}

p.pute {
    margin-right: 10px;
    width       : 101px;

}

p.razv {
    margin-right: 109px;
    width       : 101px;
}

.login {
    color         : black;
    width         : 58px;
    height        : 33px;
    font-family   : 'Roboto';
    font-style    : normal;
    font-weight   : 500;
    font-size     : 11px;
    line-height   : 13px;
    display       : flex;
    align-items   : center;
    text-align    : center;
    letter-spacing: 0.06em;
    color         : #000000;
    margin        : 9px 8px;
    background    : #FFFFFF;
    border-radius : 4px;
    border        : none;
    padding-left  : 8px;
}

h1 {
    width      : 587px;
    height     : 32px;
    font-family: 'Roboto';
    font-style : normal;
    font-weight: 700;
    font-size  : 36px;
    line-height: 42px;

    color : #000000;
    margin: 56px 0 33px 0;
}

.main {
    margin-left: 253px;
}

.mainp {
    display: flex;
}

.mainp p {
    width      : 120px;
    height     : 28px;
    font-style : normal;
    font-weight: 400;
    font-size  : 12px;
    line-height: 14px;
    display    : flex;
    align-items: center;
    color      : #9F9F9F;

}

.mycur {
    margin: 0 262px 0 0;
}

.currencies {
    width  : 100%;
    height : 30px;
    display: flex;
}

.currencies button {
    padding    : 6px 20.3px 6px 20.3px;
    cursor     : pointer;
    font-weight: 400;
    font-size  : 12px;
    line-height: 14px;
    display    : flex;
    align-items: center;
    text-align : center;

}

.firstbtn {
    background   : #833AE0;
    border-radius: 3px 0px 0px 3px;
    border       : 1px solid #E5E5E5;
    color        : #FFFFFF;
}

button:nth-child(2) {
    border-top   : 1px solid #E5E5E5;
    border-right : 1px solid #E5E5E5;
    border-bottom: 1px solid #E5E5E5;
    border-left  : 0px;
    color        : #c6c6c6;
    background   : #FFFFFF;
}

button:nth-child(3) {
    border-top   : 1px solid #E5E5E5;
    border-right : 1px solid #E5E5E5;
    border-bottom: 1px solid #E5E5E5;
    border-left  : 0px;
    color        : #c6c6c6;
    background   : #FFFFFF;
}

button:nth-child(4) {
    border-top   : 1px solid #E5E5E5;
    border-right : 1px solid #E5E5E5;
    border-bottom: 1px solid #E5E5E5;
    border-left  : 0px;
    color        : #c6c6c6;
    background   : #FFFFFF;
}

.tocurrencies {
    width      : 100%;
    height     : 30px;
    display    : flex;
    margin-left: 123px;
}

.tocurrencies .secondbtn {
    background   : #833AE0;
    border-radius: 0;
    border       : 0px solid #E5E5E5;
    color        : #FFFFFF;
}

.tocurrencies button:first-child {
    border       : 1px solid #E5E5E5;
    color        : #c6c6c6;
    background   : #FFFFFF;
    border-radius: 3px 0 0 3px;
}

.nums {
    display: flex;
}

.leftnum {
    width : 259px;
    height: 102px;

    border       : 1px solid #E5E5E5;
    box-sizing   : border-box;
    border-radius: 3px;
    margin-top   : 20px;
}

#leftcurrencies {
    margin: 11px 121px 20px 14px;
    width : 124px;
    height: 38px;


    font-family: 'Roboto';
    font-style : normal;
    font-weight: 700;
    font-size  : 36px;
    line-height: 42px;

    color : #000000;
    border: none;


}

.currentcur {
    margin: 0px 124px 5px 16px;
    width : 119px;
    height: 28px;


    font-family: 'Roboto';
    font-style : normal;
    font-weight: 400;
    font-size  : 12px;
    line-height: 14px;
    display    : flex;
    align-items: center;

    color: #C6C6C6;
}

.rightcurrencies {
    width : 259px;
    height: 102px;

    border       : 1px solid #E5E5E5;
    box-sizing   : border-box;
    border-radius: 3px;
    margin-top   : 20px;
    margin-left  : 123px;
}

.rightp {
    width : 167px;
    height: 42px;


    font-family: 'Roboto';
    font-style : normal;
    font-weight: 700;
    font-size  : 36px;
    line-height: 42px;

    color : #000000;
    margin: 11px 78px 16px 14px;

}

.chngcur {
    width : 119px;
    height: 28px;

    font-family: 'Roboto';
    font-style : normal;
    font-weight: 400;
    font-size  : 12px;
    line-height: 14px;
    display    : flex;
    align-items: center;

    color : #C6C6C6;
    margin: 0px 124px 5px 16px;

}
